.c-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;

  &.c-lookup {
    position: relative;
  }

  label {
    font-size: 14px;
    font-weight: 500;
  }

  input,
  textarea {
    width: 100%;
    height: 36px;
    border-radius: 0.375rem;
    border: 1px solid var(--border);
    background-color: var(--bg);
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    transition: border-color 0.15s, box-shadow 0.15s, background-color 0.15s;
    box-sizing: border-box;
  }

  input:focus,
  textarea:focus {
    background-color: var(--bg-light);
    outline: none;
    box-shadow: 0 0 0 2px var(--border-muted);
  }

  .c-lookup {
    position: relative;
  }

  &.c-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;

    input[type="checkbox"] {
      appearance: none;
      position: relative;
      width: 40px;
      height: 22px;
      border-radius: 20px;
      background-color: var(--bg-dark);
      outline: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 20px;
        background-color: var(--bg-dark);
        transition: background-color 0.3s ease;
      }

      &::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: var(--primary);
        transition: transform 300ms ease;
      }

      &:checked::before {
        background-color: var(--primary);
      }

      &:checked::after {
        transform: translateX(18px);
        background-color: var(--bg-light);
      }
    }
  }

  ul.c-lookup-list {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 4px 0;
    background-color: var(--bg-light);
    border: 1px solid var(--border-muted);
    border-radius: 0.375rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 10;
  }

  ul.c-lookup-list li.c-lookup-item {
    color: var(--text);
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.15s;

    &:not(:first-child) {
      border-top: 1px solid var(--border-muted);
    }
  }

  /* ul.c-lookup-list li.c-lookup-item:nth-child(2n) {
    background-color: var(--bg);
  } */

  ul.c-lookup-list li.c-lookup-item:hover {
    background-color: var(--highlight);
  }

  &.c-readonly label {
    color: var(--text-muted);
  }

  &.c-readonly input,
  &.c-readonly textarea {
    background-color: var(--bg);
    border-color: var(--border-muted);
    color: var(--text-muted);
  }
}
