.c-input {
  &.c-lookup {
    position: relative;
  }
  /* label     */
  /* input */
  > ul.c-lookup-list {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    z-index: 2;

    > li.c-lookup-item {
      background-color: #ffffff;
      padding: 2px 4px;
      color: #202020;

      &:nth-child(2n) {
        background-color: #eeeeee;
      }

      &:hover {
        background-color: #dfdfdf;
      }
    }
  }
}
