.c-row.c-pager {
  height: 46px;
  justify-content: center;
  gap: 16px;
  padding-top: 16px;
  margin-top: auto;

  .c-prev-page,
  .c-next-page {
    border: 1px solid var(--border-secondary);
    height: 100%;
    width: 46px;
    background-color: var(--bg-secondary);
    /* padding: 4px; */
    border-radius: 8px;
    display: flex;
    transition: all 180ms ease;

    > img {
      margin: auto;
      width: 26px;
      height: 26px;
      filter: brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(8%)
        hue-rotate(228deg) brightness(112%) contrast(92%);
    }
    &:hover {
      background-color: var(--bg-tertiary);
    }
  }
  .c-pages-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
}
