.c-pager {
  height: 36px;
  justify-content: start;
  gap: 16px;
  padding-top: 16px;
  margin-top: auto;
  display: flex;

  .c-prev-page,
  .c-next-page {
    border: 1px solid var(--border);
    height: 100%;
    width: 36px;
    cursor: pointer;
    background-color: var(--primary);
    /* padding: 4px; */
    border-radius: 8px;
    display: flex;
    transition: all 180ms ease;

    > img {
      margin: auto;
      width: 16px;
      height: 16px;
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(7500%) hue-rotate(349deg) brightness(100%) contrast(105%);
    }
    &:hover {
      background-color: var(--bg-dark);

      > img {
        filter: brightness(0) saturate(100%) invert(4%) sepia(9%)
          saturate(1511%) hue-rotate(32deg) brightness(99%) contrast(100%);
      }
    }
  }
  .c-pages-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}
