.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    background-color: var(--bg);
    padding: 24px;
    border-radius: 8px;
    position: relative;
    width: 500px;
    max-width: 90%;
    border: 1px solid var(--border);
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .modal-header h2 {
    margin: 0;
  }

  .close-button {
    border-radius: 8px;
    background: none;
    border: none;
    font-size: x-large;
    cursor: pointer;
    padding: 2px;
    width: 28px;
    height: 28px;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: all 300ms ease;
    > img {
      transition: transform 300ms ease;
      filter: brightness(0) saturate(100%) invert(5%) sepia(10%) saturate(1044%)
        hue-rotate(31deg) brightness(93%) contrast(102%);
    }

    &:hover {
      background-color: var(--bg-dark);
      > img {
        transform: rotate(180deg);
      }
    }
  }

  .modal-body {
    padding-top: 10px;
  }
}
