.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
}

.close-button {
  color: black;
  border-radius: 50%;
  background: none;
  border: none;
  font-size: x-large;
  cursor: pointer;
  padding: 2px;
  width: 35px;
  height: 35px;
  display: flex;
  align-content: center;
  justify-content: center;

  &:hover {
    background-color: beige;
  }
}

.modal-body {
  padding-top: 10px;
}
