.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    background-color: var(--neutral-950);
    padding: 24px;
    border-radius: 8px;
    position: relative;
    width: 500px;
    max-width: 90%;
    border: 1px solid var(--border-primary);
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .modal-header h2 {
    margin: 0;
  }

  .close-button {
    border-radius: 8px;
    background: none;
    border: none;
    font-size: x-large;
    cursor: pointer;
    padding: 2px;
    width: 28px;
    height: 28px;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: all 180ms ease;
    > img {
      transition: transform 180ms ease;
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
        hue-rotate(139deg) brightness(108%) contrast(101%);
    }

    &:hover {
      background-color: var(--neutral-300);
      > img {
        transform: rotate(180deg);
        filter: brightness(0) saturate(100%) invert(0%) sepia(29%)
          saturate(3660%) hue-rotate(9deg) brightness(99%) contrast(92%);
      }
    }
  }

  .modal-body {
    padding-top: 10px;
  }
}
