.c-login-page {
  height: 100%;
  /* display: flex; */

  .c-login-form {
    margin: 100px auto;
    height: fit-content;
    width: 300px;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid var(--border);
    background-color: var(--bg);
  }

  button {
    width: 100%;
  }

  .c-login-info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    > span {
      font-size: 14px;
      color: var(--text-muted);
    }
    .c-title {
      color: var(--text);
      font-size: 16px;
      font-weight: 600;
    }
  }
}
