:root {
  --bg-dark: oklch(0.92 0.005 115);
  --bg: oklch(0.96 0.005 115);
  --bg-light: oklch(1 0.005 115);
  --text: oklch(0.15 0.01 115);
  --text-muted: oklch(0.4 0.01 115);
  --highlight: oklch(1 0.01 115);
  --border: oklch(0.6 0.01 115);
  --border-muted: oklch(0.7 0.01 115);

  --primary: oklch(0.4 0.1 115);
  --secondary: oklch(0.4 0.1 295);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

html,
body {
  > #root {
    height: 100%;
    color: var(--text);
    background-color: var(--bg-dark);

    nav {
      background-color: var(--bg);
      padding: 8px;
      color: #020617;
      display: flex;
      border-bottom: 1px solid var(--border);
      gap: 8px;
      > a {
        text-decoration: none;
        color: var(--text);
        border-bottom: 2px solid var(--primary);
        height: 30px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        padding: 0 8px;
        /* border-radius: 8px; */
        /* background-color: var(--primary); */
        align-content: center;
        position: relative;

        &.c-last {
          margin-left: auto;
        }
      }
    }
  }
}
