.c-tabs {
  width: 100%;

  > .c-tabs-header {
    display: flex;
    background-color: var(--bg);
    padding: 4px;
    color: var(--text-muted);
    width: min-content;
    border-radius: 10px;
    margin-bottom: 8px;

    > .c-tab {
      cursor: pointer;
      padding: 4px 8px;
      font-size: 16px;
      font-weight: 600;
      border: 1px solid transparent;
      transition: all 180ms ease;

      &.c-tab-active {
        color: var(--text);
        border-color: var(--highlight);
        border-radius: 8px;
        background-color: var(--bg-light);
      }
    }
  }
}
