:root {
  --spinner-size: 20px;
  --spinner-thickness: 3px;
  --spinner-color: #f5a207;
  --spinner-bg: rgba(0, 0, 0, 0.08);
}

button.c-btn {
  height: 36px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 0;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--primary-700);
  transition: all 180ms ease;
  cursor: pointer;
  .c-spinner {
    width: var(--spinner-size);
    height: var(--spinner-size);
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    border: var(--spinner-thickness) solid var(--spinner-bg);
    border-top-color: var(--spinner-color);
    animation: spin 1000ms ease-in-out infinite;
  }

  &:hover {
    background-color: var(--primary-600);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .spinner {
    animation: none;
  }
}

.c-btn {
  div.modal-overlay > div.modal-content {
    color: aliceblue;
    background-color: #1f2937;
    > div.modal-header > h2 {
    }
    > div.modal-body {
    }
  }
}
