#c-collection-page {
  background-color: beige;
  width: 100%;
  height: 100%;
  color: black;
  padding: 8px;

  h1 {
    color: red;
  }

  .c-collection-header {
    background-color: aliceblue;
  }
  .c-collection-fields {
    background-color: beige;
  }
}
