#c-collection-page {
  background-color: beige;
  width: 100%;
  height: 100%;
  color: black;
  padding: 8px;

  h1 {
    color: red;
  }

  .c-collection-header {
    background-color: aliceblue;
  }
  .c-collection-fields {
    background-color: beige;
  }

  .c-options-container {
    display: flex;
    gap: 4px;
    margin: 4px 0;

    .c-option {
      padding: 2px 4px;
      &.c-active {
        border-bottom: 1px solid blue;
      }
    }
  }
}
